p{
     background-color: red;
     font-size: 18px;
}
.left{
    
}
.right{
    background-color: blue;
    width: 300px;
}
.main{
    /* height: 100vh; */
    display: flex;
  
}

@media screen and (max-width:600px){
    p{
        display: block;

    }
    .main{
        display: flex;
        flex-direction: column-reverse;
    }
    .right{
        display:block;
    }
    .left{
        color: blue;
        display: block;
    }
    
}