.product-card{
 width: 350px;
 height: 270px;
 background-color: #F6F2FF;
 border-top-left-radius: 30px;
 border-top-right-radius: 30px;
 display: flex;
 flex-direction: column;
 justify-content:flex-end ;
 align-items: center;
 
}
main{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product-card img{
    position: relative;
    top: 90px;
}
.price{
    color:#62666D;
    font-size: 20px;
    font-weight: bold;
}
.name{
    font-size: 15px;
    color: #62666d;
    font-weight: 200;
}
